html {
  scroll-behavior: smooth;
}

@media (min-width: 769px) {
  .especialistas-mob {
    display: none;
  }
}

@media (max-width: 768px) {
  .especialistas-desk {
    display: none;
  }
  .row {
    flex-wrap: nowrap;
    overflow-x: scroll;
    height: 51vh;
  }
  .form-inline {
    justify-content: center;
  }
}

#hero {
  height: auto;
  padding: 80px 0;
  background-color: #4568dc30;
}

#about {
  height: auto;
  padding: 80px 0;
  background-color: #fff;
}

#services {
  height: auto;
  padding: 80px 0;
  background-color: #4568dc30;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #7f77fe;
  font-weight: 900;
}

h3,
h4,
h6 {
  font-weight: 400;
}

nav {
  color: #000;
}
.logo {
  width: 80px;
}

.btn-hero {
  padding: 10px 45px;
  font-size: 17px;

  background-color: #7f77fe;
  color: #fff;
  border-radius: 30px;
  text-decoration: none !important;
  transition: all 300ms;
  margin-bottom: 30px;
}

.btn-about {
  padding: 16px 60px;
  font-size: 17px;
  color: #7f77fe;
  background-color: transparent;
  border: 1px solid #7f77fe;
  border-color: #7f77fe;
  border-radius: 30px;
  text-decoration: none !important;
  transition: all 300ms;
}
.btn-hero:hover {
  opacity: 0.9;
  color: #fff;
}

.woman {
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: -15px 20px #dce3f8;
}

.hero-description {
  margin-bottom: 30px;
  max-width: 500px;
}

.bg-purple {
  background-color: #4568dc30;
}

.btn-login {
  color: #7f77fe;
  background-color: transparent;
  border-radius: 15px;
  border-color: #7f77fe;
  padding: 5px 15px;
  font-weight: 500 !important;
  margin-right: 10px;
}

.btn-login:hover {
  color: #fff;
  background-color: #7f77fe;
  border-color: #7f77fe;
}

.btn-register {
  color: #fff;
  background-color: #7f77fe;
  border-radius: 15px;
  border-color: #7f77fe;
  padding: 5px 15px;
  font-weight: 500 !important;
}
.btn-register:hover {
  opacity: 0.9;
  background-color: #7f77fe;
  border-color: #7f77fe;
}

#especialistas {
  padding: 50px 0;
}

.input-group {
  padding-bottom: 25px;
}

.especialistas-desk,
.especialistas-mob {
  padding: 25px 0;
}

.especialistas-desk img,
.especialistas-mob img {
  border-radius: 30px;
  width: 100%;
}

.especialistas-mob img {
  width: 300px;
}

input {
  border-color: #7f77fe;
}

.btn-especialista {
  /* padding: 16px 60px; */
  width: 100%;
  font-size: 17px;
  color: #7f77fe;
  background-color: transparent;
  border: 1px solid #7f77fe;
  border-color: #7f77fe;
  border-radius: 30px;
  text-decoration: none !important;
  transition: all 300ms;
}

.btn-especialista:hover {
  color: #fff;
  background-color: #7f77fe !important;
}

.name {
  padding: 10px 0;
}

.btn-sos {
  color: #fff;
  background-color: red;
  border-radius: 15px;
  border-color: red;
  padding: 5px 15px;
  font-weight: 500 !important;
  text-decoration: none !important;
}
.btn-sos:hover {
  color: #fff;
  opacity: 0.9;
}

.modal-content {
  display: flex;
}

.modal-body {
  margin-left: auto;
  margin-right: auto;
}

.specialist-img{
  width: 50% !important;
}